@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Syne:wght@400..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0px;
  padding: 0px;
}
nav {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: rgb(113, 109, 96);
  padding: 23px;
}
nav ul li {
  list-style-type: none;
  margin: 0px 10px;
}
nav ul a {
  text-decoration: none;
  color: white;
}
nav ul a:hover {
  color: rgb(43, 97, 186);
}
.logo {
  color: white;
}
select,
label {
  font-size: 18px;
}
main {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  min-height: 100vh;
  max-width: 80vw;
  margin: auto;
}
.output{
  display: none;
}
.output table {
  width: 50vw;
  text-align: center;
  margin-left: 40px;
}
footer {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
